*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box;
}
.clr {
    clear: both;
}
.container {
   width: 80%;
   margin: auto;

}
.navbar{
    background-color: black;
    height: 80px;
    
    

}
.logo {

   float: left;
   margin-top: 5px;
}
.logo img {

    width: 50%;
    margin-top: 20px;
}
.navbar .list{
    float: right;
    margin-top: 25px;
}
.list ul {
    list-style-type: none;
}
.list ul a {
     text-decoration: none;
     font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
     font-size: 1rem;
     letter-spacing: 0.0625em;
    }
.list ul li{
    float: left;
}
.list a {
    color: white;
    margin-right: 20px;
    text-transform: uppercase;
}
.Portfolio {
    background-color:aliceblue;
    text-align: center;
}
.Portfolio-item {
    float: left;
    width: 33.3%;
    margin-top: 20px;
    padding-right: 30px;
    padding-bottom: 30px;
    font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.0625em;
}

    .Portfolio img {
    display: block;
    width: 100%
}
 p {
    font-family: 'Roboto Slab', serif;
    font-size: large;
    font-style: italic;
    
}
h2{
   
   font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    letter-spacing: 0.0625em;
    padding-top: 30px;
}
.head{
    padding-top: 70px;
}
.paragraph {
    padding-bottom: 50px;
}